.content-wrap{
    margin:0 auto;
    width:600px;
}

#main-visual{
  width: 1150px !important;
}
.pay-cont{
  padding-top: 50px;
  margin-left: -100px;
  width: 750px;
  /*background-color: #CCCCCC;*/
  padding-bottom: 40px;
}
.row1{
  margin:0 auto;
    width:400px;
    display: flex;
  justify-content:space-around;
  padding-top: 10px;
  padding-bottom: 10px;


}
.row1>p{
  font-size: 1.5em;
}
.btn-red{
  background: #FD6666;
}
.btn-blue{
  background: #66CCFF;
}
.btn-square-shadow {
    border:none;
    height: 40px;
    width:250px;
    background-color: #d01137;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.btn-square-shadow:hover{
    opacity: 60%;
}

/* ログイン・新規登録 */

body {
  font-size: 16px;
}

#popen {
  cursor: pointer;
  width: 300px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

#pclose {
  cursor: pointer;
  height: 10px;
  width: 10px;
  padding: 12px;
  margin: -30px 20px 10px auto;
  color: white;
}

#pmask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 81;
  transition: 0.8s;
}

#pmodal > h2{
  width: 130px;
  text-align: center;
  font-size: 0.95em;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 20px;
  border-left:solid 4px #4F4F4F;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: -30px;
  height: 10px;
}

#pmodal {
  background: #fff;
  width: 600px;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 92;
  transition: 0.8s;
  text-align: center;
  font-size: 0.9em;
}

#pmodal p {
  margin: 0 0 20px;
  text-align: center;
}


#pmask.hidden {
  display: none;
}

#pmodal.hidden {
  transform: translate(0, -700px);
}

.my-page{
  margin-right: 135px;
}
#notice {
  width: 120px;
  margin-left: 569px; 
}

